* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.App {
    background: url(https://phonoteka.org/uploads/posts/2022-02/1645314217_1-phonoteka-org-p-chernii-derevyannii-stol-fon-9.jpg);
    text-align: center;
    min-height: 100vh;
    max-height: max-content;
}


.listBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form {
    display: flex;
    padding-top: 50px;
    margin-left: 50px;
}

.massage {
    margin-top: 50px;
    color: rgb(236, 236, 236);
    font-size: 20px;
}

.addBoard {
    font-size: 35px;
    color: rgb(236, 236, 236);
    background-color: rgba(126, 126, 126, 0.850);
    animation-name: btn;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    transition: 0.2s ease;
}

@keyframes btn {
    0%, 100% {
        opacity: 1;
        filter: blur(0);
        box-shadow:    0 0 10px rgba(255, 255, 255, 0.850),
                        0 0 30px rgba(255, 255, 255, 0.850),
                        0 0 90px rgba(255, 255, 255, 0.850),
                        0 0 30px rgba(255, 255, 255, 0.850),
                        0 0 10px rgba(255, 255, 255, 0.850);
    }
    50% {
        opacity: 0.7;
        filter: blur(0);
        text-shadow: none;
    }
}
.addBoard:hover {
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(1.1);
}
.addBoard:active {
    margin-top: 3px;
    transition: 0.2s;
}